@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #09181A;
  gap: 2rem;
}

.page-wrapper span {
  font-family: "DM Mono";
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 150%;
}

.terminal-wrapper {
  height: 480px;
  max-height: 100vh;
  width: 800px;
  overflow: hidden;
  max-width: 88vw;
  border: 1px solid #243233;
  border-radius: 0.3rem;
  /* padding: 0.5rem; */
  margin: 0 1.5rem 1rem;
}

.terminal-wrapper > div > div > div:nth-child(1) {
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
}

.terminal-wrapper > div > div > div:nth-child(1) > div {
  height: 0.5rem;
  width: 0.5rem;
}

.terminal-wrapper > div > div > div:nth-child(2) {
  border-top: 1px solid #243233;
}

.page-title h1 {
  font-family: "Bricolage Grotesque";
  color: #EDEDED;
  font-size: 5rem;
  font-weight: 200;
  line-height: 100%;
  letter-spacing: -0.04rem;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}